Flask==3.0.3
blinker==1.8.2
pymongo==4.10.1
dnspython==2.7.0
Werkzeug==3.0.4
requests==2.31.0
gunicorn==23.0.0
python-dateutil==2.9.0.post0
packaging==24.1
six==1.16.0
mongoengine==0.29.1
praw==7.7.1
prawcore==2.4.0
python-dotenv==1.0.1
